.container {
    width: 100vw;
    min-height: 100vh;
    background-image: url('../assets/img/login&Cadastro/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}