.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding-top: 20px;
}

.navbar div {
    display: flex;
    align-items: flex-end;
}

.navbar>div:first-child {
    display: flex;
    justify-content: flex-start;
}

.navbar>div:first-child div:last-child {
    margin: 0 auto 0 66px;
}

.navbar>div:last-child {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
    font-family: 'poppinsMedium';
    font-size: 18px;
    padding: 0 16.5px;
    cursor: pointer;
}

.navbar .inputSearch {
    width: 280px;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(196, 196, 196, 0.7);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 86px 0 auto;
}

.navbar .inputSearch input,
.inputSearch input::placeholder {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #FFF !important;
    font-family: 'poppinsRegular';
    font-size: 14px;
}

.navbar .inputSearch img {
    cursor: pointer;
}

.navbar p {
    font-family: 'poppinsMedium';
    font-size: 14px;
    color: #FFF;
    margin-right: 14px;
    margin-bottom: 0 !important;
}

#imagem-mobile {
    display: none;
}

@media (max-width: 1220px) {
    .navbar p {
        display: none;
    }

    .inputSearch {
        margin: 0 auto 0 auto !important;
    }

    #profileIcon {
        margin-left: 20px;
    }
}

@media (max-width: 900px) {
    .navbar a {
        display: none;
    }

    #profileIcon {
        margin-left: 3rem;
    }
}

@media (max-width: 700px) {
    #imagem-mobile {
        display: block;
    }

    #profileIcon {
        margin-left: 0;
    }

    .navbar>div:last-child div:last-child {
        display: flex;
        justify-content: space-between;
        width: 85vw !important;
        margin: 0 auto;
    }

    .navbar>div:last-child div:last-child div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .navbar a {
        padding: 0px;
    }

    .navbar p {
        margin-right: 0px;
    }

    .navbar .inputSearch {
        width: 85vw !important;
        margin: 20px auto !important;
    }

    .navbar>div:first-child {
        display: none;
    }

    .navbar>div:last-child {
        width: 100% !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .navbar a {
        display: none;
    }
}