.container-padding .container-carrousel {
    width: 100%;
}

.all-carrousel-container .container-carrousel:first-child {
    padding-top: 20px;
    margin-top: -150px;
}

.all-carrousel-container .container-carrousel:last-child {
    margin-bottom: 0px;
    padding-bottom: 50px;
}

.container-carrousel {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.container-carrousel div {
    display: flex;
    overflow: auto;
    cursor: grab;
    scroll-behavior: smooth;
    transition: 0.1s;
}

.container-carrousel .item {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    min-height: 215px;
    max-width: 150px;
    max-height: 215px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    scroll-snap-align: center;
}

.item:first-child {
    padding-left: 5%;
}

.container-carrousel .item img {
    width: 97%;
    height: 98%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid transparent;
}

.container-carrousel .item img:hover {
    border: 2px solid #FFF;
}

.container-carrousel p {
    font-family: 'poppinsMedium';
    font-size: 16px;
    color: #FFF;
    margin-bottom: 33px;
    padding-left: 5%;
}

@media (max-width: 540px) {
    .all-carrousel-container .container-carrousel:first-child {
        margin-top: -120px;
    }
}