* {
    margin: 0;
    scroll-behavior: smooth;
}

*::-webkit-scrollbar {
    display: none;
}

@font-face {
    font-family: 'poppinsRegular';
    src: url('../assets/fonts/Poppins-Regular.ttf');
}

@font-face {
    font-family: 'poppinsMedium';
    src: url('../assets/fonts/Poppins-Medium.ttf');
}

@font-face {
    font-family: 'poppinsBold';
    src: url('../assets/fonts/Poppins-Bold.ttf');
}

@font-face {
    font-family: 'poppinsLight';
    src: url('../assets/fonts/Poppins-Light.ttf');
}