.bg-global {
    background-color: #010100;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-padding {
    width: 90%;
}

.filter-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(177, 177, 177, 0.12), rgba(0, 0, 0, 0.7));
}

.container .box-center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: 80%;
}

.container div h1 {
    font-family: 'poppinsBold';
    font-size: 50px;
    line-height: 100%;
    color: #FFF;
    margin-bottom: 15px;
}

.container div p {
    font-family: 'poppinsMedium';
    font-size: 20px;
    color: #FFF;
    margin-bottom: 15px;
}

.container div p span {
    color: #18E256;
}

.container div button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 187px;
    height: 55px;
    font-family: 'poppinsMedium';
    font-size: 20px;
    background-color: #7600FF;
    border-radius: 30px;
    outline: none;
    border: 0;
    color: #FFF;
}

.error-span {
    font-family: 'Regular';
    color: red;
    font-size: 14px;
    animation: bounce 400ms;
}

@keyframes bounce {
    0% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
    37% {
      transform: translateX(5px);
      timing-function: ease-out;
    }
    55% {
      transform: translateX(-5px);
      timing-function: ease-in;
    }
    73% {
      transform: translateX(4px);
      timing-function: ease-out;
    }
    82% {
      transform: translateX(-4px);
      timing-function: ease-in;
    }
    91% {
      transform: translateX(2px);
      timing-function: ease-out;
    }
    96% {
      transform: translateX(-2px);
      timing-function: ease-in;
    }
    100% {
      transform: translateX(0px);
      timing-function: ease-in;
    }
  }

.container div button:hover {
    background-color: #5b00c4;
}

.container div button img {
    margin-right: 13px;
}

#profileIcon {
    width: 45px;
    height: 45px;
    border-radius: 100px;
}

.container div div div div {
    display: flex;
}

.container .informacao {
    margin-left: 20px;
    cursor: pointer;
}

.informacao:hover {
    filter:invert(0.4);
}

@media (max-width: 450px) {
    .container {
        min-height: 100vh;
    }
    
    .filter-background {
        height: 100vh;
    }

    .container div h1 {
        font-size: 35px;
    }

    .container div p {
        font-size: 16px;
    }

    .container div button {
        width: 150px;
        height: 45px;
        font-size: 16px;
    }
}