.navbar {
    display: flex;
    justify-content: space-between;
    max-width: 100%;
    min-height: 60px;
    margin: 0 auto;
    padding-top: 20px;
}

.navbar div {
    display: flex;
    align-items: flex-end;
}

.navbar>div:first-child {
    display: flex;
    justify-content: flex-start;
    cursor: pointer;
}

.navbar>div:first-child div:last-child {
    margin: 0 auto 0 66px;
}

.navbar>div:last-child {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    cursor: pointer;
}

.navbar a {
    text-decoration: none;
    color: #FFF;
    font-family: 'poppinsMedium';
    font-size: 18px;
    padding: 0 16.5px;
    cursor: pointer;
}

.navbar a:hover {
    color: rgb(216, 216, 216);
}

.navbar .inputSearch {
    width: 280px;
    height: 35px;
    border-radius: 15px;
    background-color: rgba(196, 196, 196, 0.7);
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 86px 0 auto;
    position: relative;
    border: 1.5px solid transparent;
}

.inputSearch:hover {
    border: 1.5px solid #FFF;
}

.resultadoSearch {
    display: flex;
    flex-direction: column;
    position: absolute;
    align-items: center;
    width: 280px;
    min-height: 0px;
    max-height: 300px;
    overflow-y: auto !important;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: rgba(196, 196, 196, 0.7);
    top: 90px;
}

.resultadoSearch .itemResult {
    display: flex;
    width: 80%;
    height: 140px;
    border-radius: 10px;
    padding: 0 10px;
    cursor: pointer;
    margin: 0 auto;
}

.resultadoSearch div {
    width: 100px;
}

.resultadoSearch div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.resultadoSearch .box {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
}

.resultadoSearch .box span:first-child {
    font-family: 'poppinsBold';
    font-size: 16px;
    color: #FFF;
    text-align: start;
    margin: 0 0 5px 0;
    padding-top: 20px;
}

.resultadoSearch .box span {
    font-family: 'poppinsRegular';
    font-size: 14px;
    color: #FFF;
    text-align: start;
    margin: 0;
}

.navbar .inputSearch input,
.inputSearch input::placeholder {
    width: 100%;
    background-color: transparent;
    outline: none;
    border: 0;
    color: #FFF !important;
    font-family: 'poppinsRegular';
    font-size: 14px;
}

.navbar .inputSearch img {
    cursor: pointer;
}

.navbar p {
    font-family: 'poppinsMedium';
    font-size: 14px;
    color: #FFF;
    margin-right: 14px;
    margin-bottom: 0 !important;
}

#divPerfilorLogout {
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 130px;
    min-height: 100px;;
    border-radius: 15px;
    padding: 10px 10px;
    background-color: rgba(196, 196, 196, 0.7);
    margin-top: 20px;
    right: 5%;
}

#divPerfilorLogout :not(#divPerfilorLogout p:last-child) {
    border-bottom: 1px solid #FFF;
}

#divPerfilorLogout p {
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
}

#imagem-mobile {
    display: none;
}

@media (max-width: 1220px) {
    .navbar p {
        display: none;
    }

    .inputSearch {
        margin: 0 auto 0 auto !important;
    }

    #profileIcon {
        margin-left: 20px;
    }
}

@media (max-width: 900px) {
    .navbar a {
        display: none;
    }

    #profileIcon {
        margin-left: 3rem;
    }
}

@media (max-width: 700px) {
    #imagem-mobile {
        display: block;
    }

    #profileIcon {
        margin-left: 0;
    }

    .navbar>div:last-child div:last-child {
        display: flex;
        justify-content: space-between;
        width: 85vw !important;
        margin: 0 auto;
    }

    .navbar>div:last-child div:last-child div:last-child {
        display: flex;
        justify-content: flex-end;
    }

    .navbar a {
        padding: 0px;
    }

    .navbar p {
        margin-right: 0px;
    }

    .navbar .inputSearch {
        width: 85vw !important;
        margin: 20px auto !important;
    }

    .navbar>div:first-child {
        display: none;
    }

    .navbar>div:last-child {
        width: 100% !important;
        display: flex;
        flex-direction: column-reverse;
    }

    .navbar a {
        display: none;
    }
}