.bg-global {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    width: 100vw;
    min-height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container-padding {
    width: 90%;
}

.filter-background {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(177, 177, 177, 0.12), rgba(0, 0, 0, 0.7));
}
